@charset "UTF-8";
//design to size
$font-family: 'NanumSquareNeo' !default;


$primary: #3617ce !default;
$white: #fff !default;
$black: #000 !default;


$fw-light: 300 !default;
$fw-regular: 400 !default;
$fw-bold: 500 !default;
$fw-eBold: 600 !default;
$fw-havy: 700 !default;

$pc-fit-size : 1320px;
$mo-start-size : 750px;